<h1>Perfil del usuario</h1>

<p>{{error}}</p>

<p>
    Bienvenido {{user.first_name}} {{user.last_name}}.
    <br /><br />
    Correo: {{user.email}}
    <br /><br />
    Rol: {{user.role}}
    <br />
    <br />
    <br />
</p>

<a class="estiloBoton" href="/api/sessions/logout">Cerrar sesión</a>